.item-detail-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.75rem;
    margin: 1rem auto;
    width: 95%;
}
.item-detail-container > img {
    object-fit: cover;
}
.quantity-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quantity-container > div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}