.filter-options {
    padding: 1.5rem;
}
#condition-filter, #size-filter, #color-filter {
    width: 100%;
}
.items-container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
}
@media screen and (min-width: 768px) {
    .main-shop-container {
        margin: inherit !important;
    }
    .filter-options {
        display: flex;
        justify-content: space-between;
    }
    .apply-container {
        border: 0 !important;
    }
    .dropdown-container {
        display: flex;
        gap: 1.75rem;
    }
}