.shopping-cart-item-container {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: auto auto;
  border: 1.5px solid rgba(57, 70, 72, 0.25);
  border-radius: 12px;
  background: #ffffff;
  padding: 1.75rem 1.5rem 1.5rem 1.5rem;
  margin: 1rem 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 1rem;
}
.shopping-cart-item-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.shopping-cart-item-details {
    align-items: flex-end;
}
