.home-page {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 1024px;
    align-items: center;
    justify-content: center;
    align-self: center;
}