.recently-donated-container {
    width: 95%;
    justify-self: center;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(32, 164, 243, 0.15);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-item > img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  .carousel-item > img {
    filter: brightness(0.85);
  }
}