.carousel-item > img {
    height: 300px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.why-cc-container {
    display: grid;
    width: 95%;
    justify-self: center;
}
.slide-button {
    margin-top: -2rem;
}