.main-donation-component {
  display: grid;
  margin: 0 auto;
}
.main-donation-component > form {
  width: 95%;
  justify-self: center;
}
@media screen and (min-width: 768px) {
  .main-donation-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
  }
  .button-container {
    grid-column: 1 / 3;
    width: 500px;
    margin: 0 auto;
  }
}
