body {
  margin: 0;
  background-color: #F9FAFB;
  font-family: 'Elms Sans', sans-serif!important;
}
ul {
  list-style: none;
}
.primary-button {
  background-color: #20a4f3;
}
.mobile-none {
  display: none;
}
.main-page-grid {
  display: grid;
  grid-template-rows: auto auto auto;
}
.image-border {
  border-radius: 20px;
}
.text-color {
  color: #394648;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(32, 164, 243, 0.5)!important;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  top: 50%;
  transform: translateY(-50%);
}