body {
  margin: 0;
  background-color: #F9FAFB;
  font-family: 'Elms Sans', sans-serif!important;
}
ul {
  list-style: none;
}
.primary-button {
  background-color: #20a4f3;
}
.mobile-none {
  display: none;
}
.desktop-none {
  display: block;
}
.main-page-grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}
.image-border {
  border-radius: 20px !important;
}
.text-color {
  color: #394648;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(32, 164, 243, 0.5)!important;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (min-width: 768px) {
  .mobile-none {
    display: flex;
  }
  .desktop-none {
    display: none;
  }
    .carousel-item {
    display: inherit !important;
    float: inherit !important;
    width: inherit !important;
    margin-right: inherit !important;
    transition: inherit !important;
  }
  .slide-button {
    display: none;
  }
  .carousel-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .carousel-control-next {
    display: none;
  }
  .carousel-control-prev {
    display: none;
  }
  .main-page-grid > div:nth-child(2) {
    width: 1024px;
    margin: 0 auto;
  }
}